
Github Site/.vs/config/applicationhost.config
Github Site/.vs/Github Site/v15/.suo
Github Site/Github Site.sln
Github Site/ThalinsGenohan.github.io/{B1DE7B5E-DC44-4CFD-9107-5F8A783D2C4E}/CodeAnalysisLog.xml
Github Site/ThalinsGenohan.github.io/{B1DE7B5E-DC44-4CFD-9107-5F8A783D2C4E}/WebProject.lastcodeanalysissucceeded
