@font-face {
  font-family: 'wondermail';
  src: url('/wondermail.eot?#iefix') format('embedded-opentype'),
    url('/wondermail.ttf') format('truetype');
}

body {
  background-color: #36393e;
  color: white;
  font-family: 'wondermail';
  padding-top: 90px;
  font-size: x-large;
}
h1 { 
    display: block;
    font-size: 2em;
    margin: 0.67em 0 0.67em 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0 0.83em 0;
    font-weight: bold;
}

a:link {
	color: #FFDF00;
}
a:visited {
	color: #FF0000;
}
a:hover {
	background-color: #FF0000;
	color: #222222;
	cursor: pointer;
}