<configuration>
	<system.web>
		<compilation debug="true" />
	</system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Personality Quiz.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
